@import '_colors';
.search-bar {
  display: flex;
  height: 50px;
  padding-left: 10px;
  align-items: center;

  form {
    display: flex;

  .search {
    background: url('../images/icons8-search-21.png');
    width: 21px;
    height: 21px;
    margin-right: 5px;
  }
    input {
      width: 98%;
      border: none;
      background-color: $background-grey;
      font-size: 18px;

    }

    input::placeholder {
      color: $grey-font;
    }

    input:focus {
      outline: none;
    }
  }




}
