@import '_colors';


form {
    // display: flex;
    background-color: $background-white;
    // align-items: center;
    // width: 93%;
    width: 100%;

}

.react-autosuggest__container {
  // position: relative;
  width: 100%;
}

.react-autosuggest__input {
  margin: 0;
  width: 96%;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  font-size: 16px;
  background-color: $background-white;
  // outline: 1px black solid;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  outline: 1px solid #aaa;
  background-color: #fff;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 8px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $grey;
}
