@import '_colors';

.company-name {
  display: flex;
  justify-content: center;
}

.grey {
  color: $grey-font;
}

.stock-info {
  display: flex;

  .stats{
    .info {
      display: flex;

      .stock-info1 {
        flex: 1;
        font-size: 14px;
        margin-right: 10px;

      }

      .stock-info1 div {
        display: flex;
        justify-content: space-between;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }

      .stock-info2 {
        flex: 1;
        font-size: 14px;
        margin-left: 10px;

      }

      .stock-info2 div {
        display: flex;
        justify-content: space-between;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }

      .border {
        border-bottom: $grey 2px solid;
      }
    }
  }

  .news-container {

    .news {

      .news-headline {
        font-size: 14px;
      }

      .news-source {
        font-size: 12px;
      }
    }
  }
}
