.stock-bar {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  .stock-bar-price {
    font-size: 35px;
  }

  .stock-bar-info {
    font-size: 14px;
  }

  .stock-bar-info div {
    display: flex;
    justify-content: space-between;

  }
}
