@import '_colors';

.list-chart {
  display: flex;


  .chart-info {
    padding: 10px;
    background-color: $background-white;
  }
}

.stock-list {
  background-color: $background-grey;
}

.selected {
  background-color: $background-white;
}

.not-selected {
  cursor: pointer;
  width: 100%;
}

.stock-price-container {
  display: flex;
  width: 100%;
  background-color: $background-grey;
  position: relative;
}

.delete {
  background: url('../images/icons8-delete-filled-15.png');
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-right: 1px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.stock-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  .symbol-name {
    flex: 1;
  }

  .sparklines {
    height: 40px;
    flex: 1;
  }

  .percent-change {
    display: flex;
    flex: 1;
    color: white;
    justify-content: flex-end;


    div {
      border-radius: 5px;
      padding-top: 6px;
      padding-bottom: 6px;
      width: 70px;
      text-align: center;
    }
  }

}
