.company-name {
  display: flex;
  justify-content: center;
}



.stock-info {
  display: flex;
  justify-content: space-around;


  .stats{
    flex: 1;
    margin-left: 30px;

    .info {
      display: flex;
      margin-right: 30px;

      .stock-info1 {
        flex: 1;
        font-size: 14px;
        margin-right: 10px;

      }

      .stock-info1 div {
        display: flex;
        justify-content: space-between;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }

      .stock-info2 {
        flex: 1;
        font-size: 14px;
        margin-left: 10px;

      }

      .stock-info2 div {
        display: flex;
        justify-content: space-between;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }

      .border {
        border-bottom: #dbdbdb 2px solid;
      }
    }
  }

  .news-container {
    flex: 1;
    margin-left: 30px;

    .news {
      font-size: 14px;
      margin-right: 30px;

    }
  }
}
