@import '_colors';

.list-chart {
  display: flex;


  .chart-info {
    padding: 10px;
    // flex-basis: 75%;
    // width: 75%;
    background-color: $background-white;
    // padding: 15px;
  }
}

.stock-list {
  // width: 25%;
  // flex-basis: 25%;
  // box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.14),
  //             inset 0 0 5px 0 rgba(0, 0, 0, 0.12),
  //             inset 0 0 1px -2px rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: $background-white;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  //             0 1px 5px 0 rgba(0, 0, 0, 0.12),
  //             0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.not-selected {
  cursor: pointer;
  width: 100%;
}

.stock-price-container {
  display: flex;
  width: 100%;
}

.delete {
  background: url('../images/icons8-delete-filled-15.png');
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.stock-price-container:hover .delete {
  transition: opacity 1.5s;
  opacity: 1;
}

.stock-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  // flex-basis: 95%;



  .symbol-name {
    flex: 1;
  }

  .sparklines {

    height: 40px;
    // padding-top: 10px;
    // outline: 1px solid black;
    flex: 1;

    // margin: 0;
    // padding: 0;
  }

  .percent-change {
    display: flex;
    flex: 1;
    color: white;
    justify-content: flex-end;


    div {
      border-radius: 5px;
      padding-top: 6px;
      padding-bottom: 6px;
      width: 70px;
      text-align: center;
    }
  }

}
