.stock-bar {
margin-bottom: 20px;

  .stock-bar-price {
    font-size: 35px;
  }

  .stock-bar-info {
    font-size: 14px;
  }

  .stock-bar-info div {
    display: flex;
    justify-content: space-between;

  }
}
