@import '_search_bar';
@import '_stock_list';
@import '_stock_info';
@import '_stock_bar';
@import '_colors';

body {
  // max-width: 1200px;
  // max-height: 1200px;
  // background-color: $background-grey;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 450px) {
  .list-chart {
    // display: flex;

    flex-wrap: wrap;
    width: 100%;
  }
  .stock-list {
    width: 100%;
  }

  .chart-info {
    width: 100%;
  }

  .stock-info {
    flex-wrap: wrap;
  }
  .stats {
    width: 100%;
  }
  .news-container {
    width: 100%;
  }
  .react-autosuggest__suggestions-container--open {
    width: 100%;
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .list-chart {
    width: 100%;
  }
  .stock-list {
    width: 25%;
  }
  .chart-info {
    width: 75%;
  }
  .sparklines {
    display: none;
  }
  .stock-info {
    width: 100%;
    justify-content: space-between;
  }
  .stats {
    width: 47%;
  }
  .news-container {
    width: 47%;
  }
  .react-autosuggest__suggestions-container--open {
    width: 24.5%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .list-chart {
    width: 100%;
  }
  .stock-list {
    width: 25%;
  }

  .chart-info {
    width: 75%;
  }
  .stock-info {
    width: 100%;
    justify-content: space-between;
  }
  .stats {
    width: 47%;
  }
  .news-container {
    width: 47%;
  }
  .react-autosuggest__suggestions-container--open {
    width: 24.5%;
  }
}

@media screen and (min-width: 1200px) {
  .list-chart {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .stock-list {
    width: 25%;
  }

  .chart-info {
    width: 75%;
  }
  .stock-info {
    width: 100%;
    justify-content: space-between;
  }
  .stats {
    width: 47%;
  }
  .news-container {
    width: 47%;
  }
  .react-autosuggest__suggestions-container--open {
    width: 24.5%;
  }
}
