@import '_search_bar';
@import '_stock_list';
@import '_stock_info';
@import '_stock_bar';
@import '_colors';

body {
  max-width: 1200px;
  max-height: 1200px;
  background-color: $background-grey;
}

.container {

  font-family: 'Roboto', sans-serif;
}
