@import '_search_bar';
@import '_stock_list';
@import '_stock_info';
@import '_stock_bar';
@import '_colors';

body {
  max-width: 1200px;
  max-height: 1200px;
  background-color: $background-grey;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 450px) {
  .list-chart {
    display: flex;
    flex-wrap: wrap;
  }
  .stock-list {
    width: 100%;
  }
  .chart-info {
    width: 100%;
  }

  .stock-info {
    display: flex;
    flex-wrap: wrap;
  }
  .stats {
    width: 100%;
  }
  .chart-info {
    width: 100%;
  }
}
